// http://ionicframework.com/docs/theming/
.card-title-md
{
  font-size: 0.8em;
  padding: 3px 0;
}

.card-md p
{
      margin: 0 0 2px;
}

.card-content-md
{
      padding: 1px 1px;
}

#logoClimEcolo{
   height: auto !important;
   width: auto !important;
   margin: auto;
   display: block;
}

.ion-md-locate:before
{
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
